@import './_variables.scss';

.add-btn {
	background-color: $blue-color;
}

.rmv-btn {
	background-color: $brown-color;
}

.next-btn {
	background-color: $yellow-color;
}

.selected {
	color: white;
}

.disabled {
	&:hover {
		background-color: $disabled-color;
	}
}
