@import './_variables.scss';

.text-field {
	display: flex;
	flex-direction: column;

	&__label {
		margin-bottom: 0.2rem;
		font-size: $small-font-size;
		color: $white-color;
	}

	&__input {
		padding: 6.3px 15px;

		background: transparent;
		border: 2px solid $blue-color;
		color: $white-color;
		border-radius: 0.25rem;

		font-size: $small-font-size;
		transition: border-color 0.15s ease-in-out, 
								box-shadow 0.15s ease-in-out;

		&:focus {
			color: $white-color;
			border-color: $blue-color;
			outline: 0;
			box-shadow: 0px 0px 0px 0.01rem $blue-color,
									0px 0px 10px 0.01rem $white-color,
									0px 0px 20px 0.01rem $blue-color;
		}
	}
}
